NetShare.App/bin/Debug/NetShare.Core.dll
NetShare.App/bin/Debug/NetShare.Core.pdb
NetShare.App/bin/Debug/NetShare.exe
NetShare.App/bin/Debug/NetShare.pdb
NetShare.App/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
NetShare.App/obj/Debug/DesignTimeResolveAssemblyReferences.cache
NetShare.App/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NetShare.App/obj/Debug/NetShare.505A46CA.Up2Date
NetShare.App/obj/Debug/NetShare.App.csproj.AssemblyReference.cache
NetShare.App/obj/Debug/NetShare.App.csproj.CoreCompileInputs.cache
NetShare.App/obj/Debug/NetShare.App.csproj.FileListAbsolute.txt
NetShare.App/obj/Debug/NetShare.exe
NetShare.App/obj/Debug/NetShare.pdb
.vs/NetShare/CopilotIndices/17.14.1530.14912/CodeChunks.db
.vs/NetShare/CopilotIndices/17.14.1530.14912/SemanticSymbols.db
.vs/NetShare/FileContentIndex/8d045604-f4cc-4c0e-a846-c375e49636b2.vsidx
.vs/NetShare/FileContentIndex/6822e5e5-3b9a-4068-83cc-d8ba70f0ae12.vsidx
.vs/NetShare/FileContentIndex/3401324f-08d3-4986-b4ab-d7f5c103bcd4.vsidx
.vs/NetShare/FileContentIndex/e7ba9a5a-4ff2-44a4-bb34-f819a287cf9a.vsidx
.vs/NetShare/FileContentIndex/f7c1eaf2-8940-402a-a961-265b12cf3be1.vsidx
.vs/NetShare/v17/DocumentLayout.backup.json
.vs/NetShare/v17/DocumentLayout.json
.vs/NetShare/v17/TestStore/0/000.testlog
.vs/NetShare/v17/TestStore/0/testlog.manifest
NetShare.App/.vs/NetShare.App.csproj.dtbcache.json
NetShare.Core/.vs/NetShare.Core.csproj.dtbcache.json
NetShare.Core/bin/Debug/NetShare.Core.dll
NetShare.Core/bin/Debug/NetShare.Core.pdb
NetShare.Core/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NetShare.Core/obj/Debug/NetShare.Core.csproj.AssemblyReference.cache
NetShare.Core/obj/Debug/NetShare.Core.csproj.CoreCompileInputs.cache
NetShare.Core/obj/Debug/NetShare.Core.csproj.FileListAbsolute.txt
NetShare.Core/obj/Debug/NetShare.Core.dll
NetShare.Core/obj/Debug/NetShare.Core.pdb
NetShare.Monitor/bin/Debug/NetShare.Core.dll
NetShare.Monitor/bin/Debug/NetShare.Core.pdb
NetShare.Monitor/bin/Debug/NetShare.Monitor.exe
NetShare.Monitor/bin/Debug/NetShare.Monitor.pdb
NetShare.Monitor/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
NetShare.Monitor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NetShare.Monitor/obj/Debug/NetShare.488E8BF0.Up2Date
NetShare.Monitor/obj/Debug/NetShare.Monitor.csproj.AssemblyReference.cache
NetShare.Monitor/obj/Debug/NetShare.Monitor.csproj.CoreCompileInputs.cache
NetShare.Monitor/obj/Debug/NetShare.Monitor.csproj.FileListAbsolute.txt
NetShare.Monitor/obj/Debug/NetShare.Monitor.exe
NetShare.Monitor/obj/Debug/NetShare.Monitor.pdb
NetShare.Tests/.vs/NetShare.Tests.csproj.dtbcache.json
NetShare.Tests/bin/Debug/Microsoft.VisualStudio.QualityTools.UnitTestFramework.dll
NetShare.Tests/bin/Debug/NetShare.Core.dll
NetShare.Tests/bin/Debug/NetShare.Core.pdb
NetShare.Tests/bin/Debug/NetShare.Tests.dll
NetShare.Tests/bin/Debug/NetShare.Tests.pdb
NetShare.Tests/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
NetShare.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
NetShare.Tests/obj/Debug/NetShare.0F1F1278.Up2Date
NetShare.Tests/obj/Debug/NetShare.Tests.csproj.AssemblyReference.cache
NetShare.Tests/obj/Debug/NetShare.Tests.csproj.CoreCompileInputs.cache
NetShare.Tests/obj/Debug/NetShare.Tests.csproj.FileListAbsolute.txt
NetShare.Tests/obj/Debug/NetShare.Tests.dll
NetShare.Tests/obj/Debug/NetShare.Tests.pdb
.vs/NetShare/v17/.suo
